<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.regionalTourism.mapper.CompanyMapper">
    
    <select id="getCompanyByUserEmail" parameterType="String" resultType="CustomerCompany">
        select
        	customer_company.*
        from
        	customer_company
        		left join customer_user on customer_user.customer_company_id = customer_company.customer_company_id
        where 
        	customer_user.email = #{email};
    </select>

</mapper>
