<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dparadig.auth_server.mapper.LicenseMapper">
    
    <select id="getLicenseInfo" resultType="LicenseCompany">
    	SELECT *
    	FROM license_company
		WHERE cdkey = #{cdkey}
		ORDER BY license_company_id ASC
    </select>

    <select id="getProductOptionsOfLicense" resultType="ProductOption">
        SELECT po.* from license_company lc
        LEFT JOIN license_type lt ON lc.license_type_id=lt.license_type_id
        LEFT JOIN product_option po ON lt.product_id=po.product_id
        WHERE lc.cdkey = #{cdkey}
    </select>

    <select id="getLicenseOption" resultType="LicenseOption">
        SELECT * FROM license_company_option
        WHERE license_company_id = #{license_company_id}
        AND product_option_id = #{product_option_id}
        AND active = 1
        LIMIT 1
    </select>




</mapper>
