<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dparadig.auth_server.mapper.LicenseMapper">
    
    <select id="getAllLicences" resultType="LicenseCompany">
        SELECT * FROM license_company;
    </select>

    <select id="getLicenseById" resultType="LicenseCompany">
        SELECT *
        FROM license_company
        WHERE license_company_id = #{licenseCompanyId};
    </select>

    <insert id="insertLicenseFull" parameterType="LicenseCompany" useGeneratedKeys="true" keyProperty="licenseCompanyId"  keyColumn="license_company_id">
        INSERT INTO `dpa_user_dvel`.`license_company`
        (`customer_company_id`,
        `license_type_id`,
        `pay_element_id`,
        `customer_user_id`,
        `instance_name`,
        `expr_date`,
        `auto_renew`,
        `create_date`,
        `modification_date`,
        `last_pay_date`,
        `status`,
        `cdkey`)
        VALUES
        #{customerCompanyId},
        #{licenseTypeId},
        #{payElementId},
        #{customerUserId},
        #{instanceName},
        #{exprDate},
        #{autoRenew},
        #{createDate},
        #{modificationDate},
        #{lastPayDate},
        #{status},
        #{cdkey};
    </insert>

    <insert id="insertLicense" parameterType="LicenseCompany" useGeneratedKeys="true" keyProperty="licenseCompanyId"  keyColumn="license_company_id">
        INSERT INTO `dpa_user_dvel`.`license_company`
        (`customer_company_id`,
        `license_type_id`,
        `pay_element_id`,
        `customer_user_id`,
        `instance_name`,
        `expr_date`,
        `auto_renew`,
        `cdkey`)
        VALUES
        #{customerCompanyId},
        #{licenseTypeId},
        #{payElementId},
        #{customerUserId},
        #{instanceName},
        #{exprDate},
        #{autoRenew},
        #{cdkey};
    </insert>

    <update id="updateLicense">
        update customer_user set
        validation_status = 1
        where customer_user_id = #{customerLicenseId}
    </update>

    <update id="updateLicensePass"  parameterType="LicenseCompany">
        UPDATE `dpa_user_dvel`.`license_company`
        SET
        `customer_company_id` = #{customerCompanyId},
        `license_type_id` = #{licenseTypeId},
        `pay_element_id` = #{payElementId},
        `customer_user_id` = #{customerUserId},
        `instance_name` = #{instanceName},
        `expr_date` = #{exprDate},
        `auto_renew` = #{autoRenew},
        `create_date` = #{createDate},
        `modification_date` = #{modificationDate},
        `last_pay_date` = #{lastPayDate},
        `status` = #{status},
        `cdkey` = #{cdkey}
        WHERE `license_company_id` = #{licenseCompanyId};
    </update>

<!-- LicenseType -->
    <select id="getAllLicenceTypes" resultType="LicenseType">
      SELECT `license_type`.`license_type_id`,
        `license_type`.`product_id`,
        `license_type`.`license_name`,
        `license_type`.`duration`,
        `license_type`.`duration_unit`,
        `license_type`.`price`,
        `license_type`.`price_currency`,
        `license_type`.`status`
      FROM `dpa_user_dvel`.`license_type`;
    </select>
</mapper>
